.page-container {
    padding: 15px;
    background: azure;
}

.card,
.navbar{
    -webkit-box-shadow: -10px 10px 30px -10px rgba(0,0,0,0.4) !important;
    -moz-box-shadow: -10px 10px 30px -10px rgba(0,0,0,0.4) !important;
    box-shadow: -10px 10px 30px -10px rgba(0,0,0,0.4) !important;
}
.card{
    overflow: hidden;
    border-radius: calc(.3rem - 1px) calc(.3rem - 1px);
    border: unset !important;
}


.header-img{
    width: 100%;
}

.zeropadding{
    padding: unset !important;
}

.zeromarin{
    margin: unset !important;
}

.row{
    padding-bottom: 15px !important;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*
    shows page
*/
.card-deck .card{
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    overflow: hidden;
}

.show_card .card-header{
    position: relative;
    padding-bottom: 56.2% !important;
}

.show_card .card-header img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.show_card p{
    text-align: center;
    margin-bottom: unset !important;
}

[class^="material-icons"], [class*="material-icons"] {
    display: inline-block;
    width: 100%;
}

.show_card i {
    text-align:center;
}

.show_stat{
    display: inline-block;
}

.show_card .row{
    padding-bottom: unset!important;
}
/*
 show page
*/

.show_info_card p{
    padding: 12px;
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .show_info_card{
        margin-right: 60px;
        margin-left: 60px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .show_info_card{
        margin-right: 20%;
        margin-left: 20%;
    }
}

/*
    Top 10
*/
.top10table tr:first-child td {
    background-color: gold;
}
.top10table tr:nth-child(2) td {
    background-color: silver;
}
.top10table tr:nth-child(3) td {
    background-color: saddlebrown;
}
.top10table{
    margin-bottom: unset;
}